@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="grid place-items-center text-gray-700 space-y-10">
        <h1 class="text-3xl font-thin my-12">Start organizing your life today</h1>
        <img src="~/img/icons/undraw_completed_tasks.svg" class="h-72" alt="" />
        <a asp-area="Identity" asp-page="/Account/Register" class="bg-red-500 hover:bg-red-600 text-white rounded-lg py-2 px-3 font-semibold cursor-pointer">Get Started</a>
    </div>
