@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="grid place-items-center">
        <h1 class="text-3xl my-12">Sign in to start organizing</h1>
        <a asp-area="Identity" asp-page="/Account/Login" class="bg-red-500 hover:bg-red-600 text-white rounded-lg py-2 px-3 font-semibold cursor-pointer">Get Started</a>
    </div>
