@model IEnumerable<SidebarListItemViewModel>

<div class="mt-10">
    <ul>
        @foreach (var viewModel in Model)
        {
            <partial name="_SidebarListItemPartial" model="viewModel" />
        }
    </ul>
</div>