@model TodoTask
@*Partial for displaying the add task-box in lists*@
<div class="pb-20">
    <form method="post" class="add-task-form my-3 lg:my-0 rounded shadow-md transition hover:shadow absolute">
        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        <input asp-for="Description" wrap="soft" id="add-task-input" placeholder="Add new task..." class="rounded bg-gray-50 focus:ring-0 border-none w-full p-4" />
        <div id="add-task-extra" class="text-xs py-2 flex items-center gap-5 relative bg-white" style="display:none">
            <input class="rounded border-0 cursor-pointer text-xs" asp-for="DueAt" id="dueAt" placeholder="Set a due date" />
            <label class="flex items-center gap-1">
                <input class="rounded-full cursor-pointer h-3 w-3 text-green-500" asp-for="IsImportant" /> Mark as important
            </label>

            <div class="space-x-2">
                <button class="bg-red-400 hover:bg-red-500 transition text-white py-1 px-2 rounded">Add task</button>
                <a id="cancel-button" href="#">Cancel</a>
            </div>

        </div>
    </form>
</div>
