@using Microsoft.AspNetCore.Identity
@using BasicTodoList.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BasicTodoList</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/tailwind.css">
</head>

<body>
    <header>
        <nav class="flex justify-between p-2 bg-light-blue-500">
            <div class="flex items-center gap-2 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
                <h1 class="text-lg font-semibold">TODO<span class="text-sm font-thin">.NET</span></h1>
            </div>
            <div>
                <input type="text" class="w-96 border-none rounded-3xl px-6" placeholder="Search..." />
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="grid grid-cols-12 min-h-screen">

        @if (SignInManager.IsSignedIn(User))
        {
            <aside class="col-span-2 flex flex-col bg-gray-50">
                @await Component.InvokeAsync("StickyTodoLists")
                @await Component.InvokeAsync("TodoLists")
                @await Component.InvokeAsync("CollaboratedTodoLists")
            </aside>
            <main role="main" class="col-span-8">
                @RenderBody()
            </main>
        }
        else
        {
            <main role="main" class="col-span-12">
                @RenderBody()
            </main>
        }

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BasicTodoList - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
