@model SidebarListViewModel

<li class="flex justify-between items-center p-3 hover:bg-gray-200">
    <div class="flex items-center gap-2">
            @Model.Icon       
        <span>@Model.Name</span>
    </div>
    <p class="text-gray-400">@Model.IncompleteTasksCount</p>
</li>