@model TodoListViewModel

@*Partial for displaying a list of tasks*@
<ul class="mt-10">
    @foreach (var task in Model.TodoList)
    {
    <li class="@(task.IsCompleted?"completed-task":"uncompleted-task") task hover:bg-gray-50 p-5 border-b">
        <partial name="_TodoTaskPartial" model="task" />
        @if (Model.ShowLinksOnTasks)
        {
            <a asp-page="/Tasks/Index" asp-route-id="@task.TodoListId" class="task_list-link text-xs text-gray-500 hover:text-black mt-2 ml-9">
                @task.TodoList.Name
            </a>
        }
    </li>
    }
</ul>
