@page
@model ImportantModel
@{
    ViewData["Title"] = "Important";
}

<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 id="list-title" class="text-4xl">Important</h3>
</div>
@if (Model.ImportantTasks.Count() <= 0)
{
    <div class="grid place-items-center mt-56 gap-10">
        <span class="text-gray-600">You don't have any important tasks planned</span>
        <img src="~/img/icons/undraw_Notify_re.svg" class="h-32" alt="" />
    </div>
}
else
{
    <partial name="_TodoListPartial" model="@(new TodoListViewModel { TodoList = Model.ImportantTasks, ShowLinksOnTasks = true })" />
}