@page
@model OverdueModel
@{
    ViewData["Title"] = "Overdue";
}

<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 id="list-title" class="text-4xl">Overdue</h3>
</div>
@if (Model.OverdueTasks.Count() <= 0)
{
    <div class="grid place-items-center mt-56 gap-10">
        <span class="text-gray-600">You don't have any overdue tasks</span>
        <img src="~/img/icons/undraw_time_management.svg" class="h-32" />
    </div>
}
else
{
    <partial name="_TodoListPartial" model="@(new TodoListViewModel { TodoList = Model.OverdueTasks, ShowLinksOnTasks = true })" />
}