@page
@model TodayModel
@{
    ViewData["Title"] = "Today";
}
<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 id="list-title" class="text-4xl">Today</h3>
    <small class="text-gray-500">@DateTime.Now.ToString("dddd, MMMM dd")</small>
</div>

@if (Model.TodaysTasks.Count() <= 0)
{
    <div class="grid place-items-center mt-56 gap-10">
        @if (Model.UserListCount <= 0)
        {
            <div class="text-center leading-10">
                <h3 class="text-2xl font-thin">Welcome @User.Identity.Name 👋</h3>
                <span class="text-gray-600">You haven't created any todo lists yet</span>
            </div>
            <a asp-page="/Lists/Create" class="bg-red-400 hover:bg-red-500 text-white border-0 p-2 rounded">Create a new list</a>
        }
        else
        {
            <span class="text-gray-600">You don't have anything due today</span>
            <img src="~/img/icons/undraw_chilling.svg" class="h-32" alt="" />

        }
    </div>
}
else
{
    <partial name="_TodoListPartial" model="@(new TodoListViewModel { TodoList = Model.TodaysTasks, ShowLinksOnTasks = true })" />
}

@if (TempData["UserActionMessage"] != null)
{
    <div id="validate-success" class="bg-green-200 p-5 shadow absolute bottom-10">
        <span class="text-green-700 rounded">@TempData["UserActionMessage"].ToString()</span>
    </div>
}