@page
@model ImportantModel
@{
}

<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 class="text-4xl font-thin">Important</h3>
</div>
@if (Model.ImportantTasks.Count() <= 0)
{
    <div class="grid place-items-center mt-56">
        <span class="text-gray-600">Nothing here...</span>
    </div>
}
else
{
    <partial name="_ListOfTasksPartial" model="Model.ImportantTasks" />
}