@page
@model ImportantModel
@{
    ViewData["Title"] = "Important";
}

<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 class="text-4xl">Important</h3>
</div>
@if (Model.ImportantTasks.Count() <= 0)
{
    <div class="grid place-items-center mt-56">
        <span class="text-gray-600">You don't have any important tasks planned</span>
    </div>
}
else
{
    <partial name="_ListOfTasksPartial" model="Model.ImportantTasks" />
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ShowLinkScriptPartial");}
}