@page
@model OverdueModel
@{
    ViewData["Title"] = "Overdue";
}
<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 id="list-title" class="text-4xl">Overdue</h3>
</div>

@if (Model.OverdueTasks.Count() <= 0)
{
    <div class="grid place-items-center mt-56 gap-10">
        @if (Model.UserListCount <= 0)
        {
            <span class="text-gray-600 text-lg">You haven't created any lists</span>
            <a asp-page="/Lists/Create" class="border-0 p-2 text-white bg-blue-400 hover:bg-blue-500 rounded">Create a new list</a>
        }
        else
        {
            <span class="text-gray-600">You don't have anything overdue</span>
            <img src="~/img/icons/undraw_completed_tasks.svg" class="h-32" />

        }
    </div>
}
else
{
    <partial name="_TodoListPartial" model="@(new TodoListViewModel { TodoList = Model.OverdueTasks, ShowLinksOnTasks = true })" />
}