@page
@model BasicTodoList.Pages.Tasks.PlannedModel
@{
}

<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 class="text-4xl">Planned</h3>
</div>
@if (Model.PlannedTasks.Count() <= 0)
{
    <div class="grid place-items-center mt-56">
        <span class="text-gray-600">You don't have any upcoming tasks</span>
    </div>
}
else
{
    <partial name="_ListOfTasksPartial" model="Model.PlannedTasks" />
}