@page
@model TodayModel
@{
}
<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 class="text-4xl font-thin">Today</h3>
    <small class="text-gray-500">@DateTime.Now.ToShortDateString()</small>
</div>
@if (Model.TodaysTasks.Count() <= 0)
{
    <div class="grid place-items-center mt-56">
        <span class="text-gray-600">You don't have anything planned for today</span>
    </div>
}
else
{
    <partial name="_ListOfTasksPartial" model="Model.TodaysTasks" />
}