@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="flex items-baseline gap-2 p-3 border-b">
    <h3 class="text-4xl">Create new list</h3>
</div>
<hr />

<div class="mt-5">
    <form method="post" class="flex items-center gap-4 p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="">
            <input asp-for="TodoList.Name" class="rounded-md" placeholder="List name..." />
            <span asp-validation-for="TodoList.Name" class="text-danger"></span>
        </div>
        <div class="">
            <input type="submit" value="Create" class="bg-blue-500 p-2 rounded shadow hover:bg-blue-600 text-white cursor-pointer" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
