@page
@model BasicTodoList.Pages.Lists.InviteModel
@{
}
<div class="grid place-items-center h-screen">
    <form method="post" class="grid justify-items-center shadow-md rounded space-y-3 p-24">
        <h1 class="text-2xl font-thin">Invite user</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Invite" class="btn btn-primary" />
            <a asp-page="/Tasks/Index" asp-route-id="@Model.Id">Back to list</a>
        </div>
    </form>
</div>
