@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="flex">
    <div class="flex-col flex mt-10 mx-auto items-center w-full lg:w-2/3 md:w-3/5">
        <div class="flex text-2xl items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            <h1 class="font-semibold">Login</h1>
        </div>
        <form asp-route-returnUrl="@Model.ReturnUrl" class="mt-2 flex flex-col lg:w-1/3 w-9/12">
            <div asp-validation-summary="All" class=""></div>
            <div>
                <label asp-for="Input.Email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                <input asp-for="Input.Email" placeholder="example@domain.com" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                <span asp-validation-for="Input.Email" class="text-red-500"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                <input asp-for="Input.Password" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" />
                <span asp-validation-for="Input.Password" class="text-red-500"></span>
            </div>
            <button class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-blue-400 shadow-lg focus:outline-none transition hover:bg-blue-500 hover:shadow-none">
                Log in
            </button>
            <small class="text-gray-500 mt-2">
                Dont have an account yet?
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="font-semibold text-black hover:underline">Register</a>
            </small>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




