@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="flex">
    <div class="flex-col flex mt-10 mx-auto items-center w-full lg:w-2/3 md:w-3/5">
        <div class="flex text-2xl items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
            <h1 class="font-semibold">Register</h1>
        </div>
        <form asp-route-returnUrl="@Model.ReturnUrl" class="mt-2 flex flex-col lg:w-1/3 w-9/12">
            <div asp-validation-summary="All" class=""></div>
            <div>
                <label asp-for="Input.Email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                <input asp-for="Input.Email" placeholder="example@domain.com" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                <span asp-validation-for="Input.Email" class="text-red-500"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                <input asp-for="Input.Password" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" />
                <span asp-validation-for="Input.Password" class="text-red-500"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Confirm password</label>
                <input asp-for="Input.ConfirmPassword" placeholder="********" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-red-500"></span>
            </div>
            <button class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-blue-400 shadow-lg focus:outline-none transition hover:bg-blue-500 hover:shadow-none">
                Register
            </button>
            <small class="text-gray-500 mt-2">
                Already a user?
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="font-semibold text-black hover:underline">Log in</a>
            </small>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}